### MICS IRAQ

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pyreadstat
import os

In [2]:
pd.set_option('display.max_columns', None)
os.chdir('C:/Users/511232/Desktop/LFS')
[f for f in os.listdir() if 'sav' in f]

['LFS_2021.sav']

In [7]:
#read in data and meta
df_lfs,meta_lfs=pyreadstat.read_sav('LFS_2021.sav', apply_value_formats=False)

col_names_lfs=meta_lfs.column_names_to_labels
col_vals_lfs=meta_lfs.variable_value_labels

In [81]:
df=df_lfs.copy()

#creating having_disability
'''
gen SSHD=0
replace SSHD = . if VIS_SS==. & HEAR_SS ==. & MOB_SS ==. & COM_SS==. & UB_SS==. & COG_SS==.
replace SSHD = 2 if VIS_SS==2 | HEAR_SS ==2 | MOB_SS ==2 | COM_SS==2 |UB_SS==2 | COG_SS==2
replace SSHD = 3 if VIS_SS==3 | HEAR_SS ==3 | MOB_SS ==3 | COM_SS==3 |UB_SS==3 | COG_SS==3
replace SSHD = 4 if VIS_SS==4 | HEAR_SS ==4 | MOB_SS ==4 | COM_SS==4 |UB_SS==4 | COG_SS==4
replace SSHD = 1 if SSHD ==0
drop if SSHD ==.
label define sshdlb 1 "None" 2 "Mild" 3 "Moderate" 4 "Severe"
label values SSHD sshdlb
'''

having_disability_labels={1.0: 'No, no difficulty',
 2.0: 'Yes, some difficulty',
 3.0: 'Yes, a lot of difficulty',
 4.0: 'Cannot do it at all'}

dis_cols=['dif_sight','dif_hear','dif_mobi','dif_conc','dif_comm','dif_upper_body','dif_care']
df['having_disability']=df[dis_cols].apply(lambda x: x.max(), axis=1)
df['having_disability']=df['having_disability'].map(having_disability_labels)

#recode 5 years age groups
c1=(df['dem_ag1']>=0) & (df['dem_ag1']<=4)
c2=(df['dem_ag1']>=5) & (df['dem_ag1']<=9)
c3=(df['dem_ag1']>=10) & (df['dem_ag1']<=14)
c4=(df['dem_ag1']>=15) & (df['dem_ag1']<=19)
c5=(df['dem_ag1']>=20) & (df['dem_ag1']<=24)
c6=(df['dem_ag1']>=25) & (df['dem_ag1']<=29)
c7=(df['dem_ag1']>=30) & (df['dem_ag1']<=34)
c8=(df['dem_ag1']>=35) & (df['dem_ag1']<=39)
c9=(df['dem_ag1']>=40) & (df['dem_ag1']<=44)
c10=(df['dem_ag1']>=45) & (df['dem_ag1']<=49)
c11=(df['dem_ag1']>=50) & (df['dem_ag1']<=54)
c12=(df['dem_ag1']>=55) & (df['dem_ag1']<=59)
c13=(df['dem_ag1']>=60) & (df['dem_ag1']<=64)
c14=(df['dem_ag1']>=65) & (df['dem_ag1']<=69)
c15=(df['dem_ag1']>=70) & (df['dem_ag1']<=74)
c16=(df['dem_ag1']>=75) & (df['dem_ag1']<=79)
c17=(df['dem_ag1']>=80) & (df['dem_ag1']<=84)
c18=(df['dem_ag1']>=85) & (df['dem_ag1']<=89)
c19=(df['dem_ag1']>=90)

cond=[c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19]

rslt=['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
'40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80-84','85-89', '90+']

df['age_5']=np.select(cond,rslt,default=np.nan)
#recode age 18+
df['age_18+']=np.select([df['dem_ag1']>=18, df['dem_ag1']<18],['18+','<18'],default=np.nan )

#recode age: 5-9	10-14	15-19	20-24	25-64	65+
df['age25_64']=np.select([(df['dem_ag1']>=25) & (df['dem_ag1']<=64), 
df['dem_ag1']>=65],['25-64','65+'],default=np.nan)

#recode agegroup: 5-9	10-14	15-19	20-24
cond=[c2,c3,c4,c5]
rslt=['5-9','10-14','15-19','20-24']
df['age_5_1']=np.select(cond,rslt,default=np.nan)

#add labels
vars=['dem_sex','area','dif_sight','dif_hear','dif_mobi','dif_conc','dif_care','dif_comm','dif_upper_body']
for v in vars:
    df[v]=df[v].map(col_vals_lfs[v])

In [53]:
print('generating population_age')
#column index
newcol=['0-4','5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49','50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90+', '18+', '<18']

xtab_total=[]
for col in ['age_5', 'age_18+']:

       xtab=pd.crosstab([df['area'],df['having_disability'],df['dem_sex']],df[col],
       rownames=['Area','Disability Type', 'Sex'],
       colnames=['agegroup'], 
       values=df['ilo_wgt'], aggfunc='sum',dropna=False)
       #drop the column 'na' from the dataframe
       xtab.drop(['nan'], axis=1, inplace=True)
       xtab_total.append(xtab)

#append the dataframes
T=pd.concat(xtab_total, axis=1) 

#reindex the columns
T=T.reindex(newcol, axis='columns')
# xtab=pd.crosstab([df['HH6'],df['disability_combined']],df[age_5],
# rownames=['Area','Disability level'],colnames=[col], values=df['ilo_wgt'], aggfunc='sum',dropna=False)
# df_total.append(xtab)
# T=pd.concat(df_total, axis=1)     
T.to_excel('Table 1 xtab_all_dis_ByAge.xlsx')
print('population_age generated and saved')

generating population_age
population_age generated and saved

In [ ]:
print('generating DisabType_Age')
#column index
newcol=['0-4','5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49','50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90+', '18+', '<18']

xtab_total=[]
for col in ['age_5', 'age_18+']:

       xtab=pd.crosstab([df['area'],df['having_disability'],df['dem_sex']],df[col],
       rownames=['Area','Disability Type', 'Sex'],
       colnames=['agegroup'], 
       values=df['ilo_wgt'], aggfunc='sum',dropna=False)
       #drop the column 'na' from the dataframe
       xtab.drop(['nan'], axis=1, inplace=True)
       xtab_total.append(xtab)

#append the dataframes
T=pd.concat(xtab_total, axis=1) 

#reindex the columns
T=T.reindex(newcol, axis='columns')
# xtab=pd.crosstab([df['HH6'],df['disability_combined']],df[age_5],
# rownames=['Area','Disability level'],colnames=[col], values=df['ilo_wgt'], aggfunc='sum',dropna=False)
# df_total.append(xtab)
# T=pd.concat(df_total, axis=1)     
T.to_excel('Table 1 xtab_all_dis_ByAge.xlsx')
print('population_age generated and saved')

In [ ]:
col_names_lfs

In [7]:

print('generating Table 2')
df=data_wm.copy()
df_total=[]
def xtab():
    for col in disability_cols:
        print(f'processing column {col}')
        r=pd.crosstab([df['HH6'],df[col].map(disability_levels)],df['WAGE'],\
            rownames=['Area','Level'],colnames=['Age'], values=df['wmweight'], 
            aggfunc='sum',dropna=False).stack()
        r.name=dis_names[col]
        df_total.append(r)

#concatenating the series in the resulting generator
xtab()
t=pd.concat(df_total, axis=1)
t['All_disabilities']=t.sum(axis=1)
#reshape the result
T=t.stack().unstack([3,2]).sort_index(axis=1, level=0)

##############################################################################################

df_total=[]

multiindex_cols=[]

for col in ['MT11','internet_use','MT12']:
    #add labels to values
    if col!='internet_use':
        df[col]=df[col].map(col_vals_wm[col])
        
        r=pd.crosstab([df['HH6'],df['disability_combined']],
        [df[col],df['age_ict']],
        rownames=['Area','Disability level'],colnames=[col_names_wm[col],'age'], 
        values=df['wmweight'],aggfunc='sum',dropna=False)
        df_total.append(r)
        #create the multiindex col and append to multiindex_cols
        '''r.columns are MultiIndex([(         'NO', '15-60'),
                        ('NO RESPONSE', '15-60'),
                        (        'YES', '15-60')],
            names=['Own a mobile phone', 'age'])
            we loop over the tuples and insert at index 0 the column name with col_names_wm[col]'''

        for i in r.columns:
            l=list(i)
            l.insert(0,col_names_wm[col])
            multiindex_cols.append(tuple(l))

In [ ]:
xtab=crosstab()
xtab.generate_xtabs()

In [61]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [57]:
df=pd.read_excel('C:/Users/511232/Desktop/PM2.5_CC.xlsx')
cols=['Exposure Upper PM 2.5 ug/m3','Exposure Upper PM 2.5 ug/m3_CC']

df.head()

,Country,ISO3,Year,Exposure Upper PM 2.5 ug/m3,Exposure Upper PM 2.5 ug/m3_CC
0,Algeria,DZA,1990,41.6,2
1,Algeria,DZA,1995,44.3,2
2,Algeria,DZA,2000,49.6,2
3,Algeria,DZA,2005,47.5,2
4,Algeria,DZA,2010,44.1,2

In [71]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

df=pd.read_excel('C:/Users/511232/Desktop/PM2.5_CC.xlsx')
cols=['Exposure Upper PM 2.5 ug/m3','Exposure Upper PM 2.5 ug/m3_CC']


slope=[]
intercept=[]
R2=[]

for col in cols:
    x=np.array(df['Year']).reshape(-1, 1)
    y=np.array(df[col]).reshape(-1, 1)

    regr = LinearRegression()
    regr.fit(x, y)
    intercept.append(regr.intercept_[0])
    slope.append(regr.coef_[0][0])

    pred=regr.predict(x)
    R2.append(r2_score(y, pred))

rslt=pd.DataFrame({'slope':slope, 'intercept':intercept, 'R2':R2})
rslt

      slope   intercept        R2
0  0.094919 -128.447632  0.001202
1 -0.004236   10.019200  0.003371